
@use './variables.scss' as variables with(
    $green-color:lightgreen
);
@use './mixins.scss' as mixins; 


@include mixins.common-classes();

body {
    border-color: variables.$green-color;
   @include mixins.common();
}

.header {
    @include mixins.common();
    $color: #fff;
    a{
        font-size: 16px;
        &:hover {
            background-color: #ccc;
        }

        &.active {
            background-color: red;
        }
    }

    @at-root .root-level{
        color:$color;
    }


}